.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 2%;
    width: 87%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #c4151c;
    padding: 30px;
    display: inline-block;
    border: none;
    width: 13%;
    position:relative
  }

  .sendButton::before {
    content: '';
    position: absolute;
    left: 43%;
    top: 50%;
    display: block;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  