html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }

  .chat{
    color:black;
  }

  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #c5c5c5;
  }
  
  .joinInnerContainer {
    width: 35%;
    background: white;
    border-radius: 30px;
    padding: 70px;
    box-shadow: 0.5px 3px 75px rgba(0,0,0,0.4);
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: #c4151c;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }

  .subtitle {
    color: black;
    font-size: 1.2em;
    padding: 30px;
    border-top: 1px solid #c4151c;
    border-bottom: 1px solid #c4151c;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #c4151c;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer;
  }
  
  .mt-20 {
    margin-top: 20px;
  }

  .new-account {
    color:#c4151c;
    text-decoration: none;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  }
  
  button:focus {
    outline: 0;
  }